<ngb-carousel class='slider' #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
  <ng-template ngbSlide *ngFor="let note of sliderNotes; index as i">
    <div class="picsum-img-wrapper">
      <br> <!--well this is a lazy way to create space from the top-->
      <app-note [note]="note" [abbreviate]=true [mutable]=false (click)="selectNote(i)"></app-note>
    </div>
  </ng-template>

</ngb-carousel>

<br>
<div *ngFor="let note of notes">
    <app-note (message)="getRecent();getImportant();relayMessage($event)" [note]="note"></app-note>
    <br>
</div> 

<!--<div class="form-check">
  <input type="checkbox" class="form-check-input" id="pauseOnHover" [(ngModel)]="pauseOnHover">
  <label class="form-check-label" for="pauseOnHover">Pause on hover</label>
</div>
<div class="form-check">
  <input type="checkbox" class="form-check-input" id="pauseOnFocus" [(ngModel)]="pauseOnFocus">
  <label class="form-check-label" for="pauseOnFocus">Pause on focus</label>
</div>
<div class="form-check">
  <input type="checkbox" class="form-check-input" id="unpauseOnArrow" [(ngModel)]="unpauseOnArrow">
  <label class="form-check-label" for="unpauseOnArrow">Unpause when clicking on arrows</label>
</div>
<div class="form-check">
  <input type="checkbox" class="form-check-input" id="pauseOnIndicator" [(ngModel)]="pauseOnIndicator">
  <label class="form-check-label" for="pauseOnIndicator">Pause when clicking on navigation indicator</label>
</div>
<button type="button" (click)="togglePaused()" class="btn btn-outline-dark btn-sm">
  {{paused ? 'Cycle' : 'Pause' }}
</button>-->