.headIcon
{
    vertical-align : middle;
    margin-right : 3px;
}


.toolTipText
{
    visibility: hidden;
    border : 1px solid black;
    background-color: #ffffe0;
    font-size : 12px;
    /* Position the tooltip */
    display : inline-block;
    position: absolute;
    z-index: 1;
}

li:hover .toolTipText {
    visibility: visible;
  }