.handle
{
    display : inline-block;
    position : relative;
    bottom : -28px;
    height : 20px;
    width : 204px;
}

.vplusblueWindow
{
    /*create the pm style border*/
    width : 204px;
    height : 529px;
    border-style : solid;
    border-width : 28px 8px 8px 8px;
    border-image-source: url(/public/pm/pm_whole_transparent_middle.png);
    border-image-slice: 28 8 8 8;
    border-image-repeat: repeat;
}

/*width : 204px;
    height : 529px;
    border-style : solid;
    border-width: 24px 6px 6px 6px;
    border-image-source : url(/public/pm/default_style/outer_border.png);
    border-image-slice: 24 6 6 6;
    border-image-repeat: stretch;
    */
.defaultWindow
{
    width : 204px;
    height : 529px;
    border-style : solid;
    border-width: 24px 6px 6px 6px;
    border-image-source : url(/public/pm/default_style/outer_border.png);
    border-image-slice: 24 6 6 6;
    border-image-repeat: stretch;
}

.defaultButtons
{
    height : fit-content;
    width : calc( 100% + 1em); /*so the options buttons doesnt go to the next line*/
    position : relative;
    top : -8px;
    left : -1px;
}

.defaultInnerBorder
{
    width : 192px;
    height : 440px;
    border-style : solid;
    border-width: 2px 2px 2px 2px;
    border-image-source : url(/public/pm/default_style/inner_border.png);
    border-image-slice: 2 2 2 2;
    border-image-repeat: stretch;
}

.defaultPlayerList
{
    max-height : 436px;/*96%;*/
    overflow-y : scroll;
    overflow-x : hidden;
}

.defaultScroll::-webkit-scrollbar
{
    height : 10px;
    max-height: 10px;
    width : 15px; 
}

.defaultScroll::-webkit-scrollbar-button:vertical:start:decrement
{
    background : url(/public/pm/default_style/scroll_arrow_up.png);
    background-repeat : no-repeat;
    /*display:block allows setting width/height of button*/
    display : block;
    width : 14px;
    height : 16px;

}

.defaultScroll::-webkit-scrollbar-button:vertical:end:increment
{
    background : url(/public/pm/default_style/scroll_arrow_down.png);
    background-repeat : no-repeat;
    /*display:block allows setting width/height of button*/
    display : block;
    width : 15px;
    height : 17px;
}

.defaultScroll::-webkit-scrollbar-track
{
    background : url(/public/pm/default_style/scroll_bar.jpg);
    background-repeat : repeat-y;
    /*hack to move track 1px right*/
    background-clip: padding-box;
    border-left: 1px solid transparent; 
}


.defaultScroll::-webkit-scrollbar-thumb
{
    background : url(/public/pm/default_style/scroll_button.png);
    background-size : 14px 100%;
    background-repeat : no-repeat;
    /*hack to move track 1px right*/
    /*background-clip: padding-box;
    border-left: .5px solid transparent;*/
}

.transLightBlueBg
{
    background-color : rgba( 153 , 193 , 241, 0.6 )
}

.transDarkBlueBg
{
    background-color : rgba( 153 , 193 , 241 , .9 ); 
}

.fixCursor
{
    /*make unselectable/unhighlightable*/
   cursor : default;
   user-select: none;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.headIcon
{
    vertical-align : middle;
    margin-right : 3px;
}


.removeBulletAndIndent
{
    /*remove bullets, left indentation*/
    list-style-type : none;
    padding-left : 0px;
}