.card {
    box-shadow: 0 4px 8 px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(247, 236, 247);
    transition: 0.3s;
    padding: 16px 16px; 
    margin: auto;
    height: auto;
    width: 700px;
    resize: both;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(66, 28, 71);
}

#box{
    position: relative;
    left:1em;
}

#important{
    position: absolute;
    left: 36em;

}

.error
{
    color:darkred;
}

.abbreviate
{
    display:-webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow:clip;
    overflow:hidden;
    height: 125px;        
}

.btn-primary{
    background-color: blueviolet;
    border-color: blueviolet;
    color: black;
}

.btn-primary:hover {
    color: black;
    background-color: white;

}
.form-control
{
    margin:auto;
    border: width 50%;
    border-color:blueviolet;
}

/*border-color:red;
    box-shadow:yellow;*/
.form-control:focus
{
    
    box-shadow:0 0 2em rgb(243, 150, 230);
}

/*
#title{
    position: relative;
    top:-20px;
}

#dateCreated{
    position: relative;
    top:-30px;
    margin-top: -20px;
}

*/

/*
#bodyText{
    position: relative;
    top:-100px;
}

#buttons{
    position: relative;
    margin:5px;
}

.btn-primary{
    background-color: blueviolet;
    border-color: blueviolet;
    color: black;
}

.btn-primary:hover {
    color: black;
    background-color: white;

}

.error{
    position: relative;
    left:25px;
    color: red;
}

.form-check-input>input:checked{
    background: blueviolet;
    background-color: blueviolet;
}
*/
/*
#bodyinput{
    position: relative;
    top:-45px;
}
*/